.home-pg-content{
    padding: 10px 20px;
}

footer{
    text-align: center;
    padding: 48px
}

.mat-list-item{
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    button{
        margin-right: 10px;
    }
}